<%- include('header') %>
<div class="products">
    <div class="product">
        <div class="product-image">
            <img src="https://m.media-amazon.com/images/I/71J8tz0UeJL._SX679_.jpg">
        </div>
        <div class="product-details">
            <h3>Product Name</h3>
            <h4>Samsung</h4>
            <p>4.5
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            <p>
            <div>
                <h5 class="org-price">$299</h5>   
                <h5 class="offer-price">$300</h5>   
            </div>
        </div>
    </div>
</div>



<%- include('footer') %>