<%- include('header') %>

<div class="hello-user">
    <h2> 
        Hello, <span>Chowdary</span>
    </h2>
</div>

<div class="hot-deals">
    
    <div class="products">
        <div class="product">
            <div class="product-image">
                <img src="img-source">
            </div>
            <div class="product-details">
                <p>Samsung M20</p>
                <p>$299</p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="img-source">
            </div>
            <div class="product-details">
                <p>Samsung M20</p>
                <p>$299</p>
                <button>Add To Cart</button>
            </div>
        </div>
        <div class="product">
            <div class="product-image">
                <img src="img-source">
            </div>
            <div class="product-details">
                <p>Samsung M20</p>
                <p>$299</p>
                <button>Add To Cart</button>
            </div>
        </div>
    </div>
</div>



<%- include('footer') %>
