*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
:root{
    --primary-blue:#047BD5;
    --primary-yellow:#F8E831;
    --secondary-blue:#4FA2E1;
    --tertiary-blue:#0489ee;
    --primary-orange:#F7A200;
    --font-black: rgb(17 24 39);
    --font-green:rgb(21 128 61);
    --font-grey:rgb(107 114 128);
}

html{
    overflow-y:auto;
}

.indProduct{
    display: flex;
    gap: 20px;
}
.productImage{
    min-width: 470px;
    min-height: 570px;
}

.productImage img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.productInfo{
    padding: 70px 0 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 26px;
}

.productInfo h1{
    font-size: 34px;
    font-weight: 500;
    color: var(--font-black);
}

.productInfo h3{
    font-size: 18px;
    color: var(--font-green);
    font-weight: 600;
}

.productRating{
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 10px 0 4px;
}

.productRating h4{
    font-size: 20px;
}

.productRating i{
    color: var(--primary-yellow);
}

.productPrice{
    display: flex;
    align-items: center;
    gap: 10px;
}

.org-price{
    font-size: 30px;
    font-weight: 550;
}

.offer-price{
    font-size: 16px;
    color: var(--font-grey);
    font-weight: 500;
    text-decoration: line-through;
}

.productDetails p{
    width: 70%;
    text-align: justify;
    margin: 10px 0 0;
}

.productInfo a{
    padding: 14px 44px;
    background-color: var(--primary-blue);
    color: #fff;
    text-decoration: none;
}

.productInfo a:hover{
    transition: 0.2s all ease-in-out;
    background-color: var(--tertiary-blue);
}