*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
:root{
    --primary-blue:#047BD5;
    --primary-yellow:#F8E831;
    --secondary-blue:#4FA2E1;
    --primary-orange:#F7A200;
    --primary-orange-2:#ffb933;

    --secondary-orange:#fb641b;
    --tertiary-orange:#fb712e;

    --font-black: rgb(17 24 39);
    --font-green:rgb(21 128 61);
    --font-grey:rgb(107 114 128);
    --background-grey:#f1f3f6;
    --border-grey:#c2c2c2;

}

html{
    overflow-y: scroll;
}

.profile-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: max-content;
    margin: 56px auto 0;
    padding: 0 30px;
    text-align: center;
    border: 1px solid var(--border-grey);
}

.profile-section i{
    font-size: 160px;
    color: var(--font-grey);
}

