*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;}
:root{
    --primary-blue:#047BD5;
    --primary-yellow:#F8E831;
    --secondary-blue:#4FA2E1;
    --primary-orange:#F7A200;
    --font-black: rgb(17 24 39);
    --font-green:rgb(21 128 61);
    --font-grey:rgb(107 114 128);
    --background-grey:#f1f3f6;
    --border-grey:#c2c2c2;

}

html{
    overflow-y: scroll;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-blue);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0.5rem 5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 

}


.nav-brand a{
    display: flex;
    align-items:center;
    justify-content: space-evenly;
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-weight: 600;
    gap: 2px;
    font-style:italic;
}

.nav-brand img{
    width: 3rem;
}

.search-bar{
    display: flex;
    align-items: center;
}

.search-bar input{
    width: 380px;
    padding: 6px 8px;
    height: 100%;
    border-radius: 12px 0 0 12px;
    border: 0;
}

input:focus{
    outline: 0;
}

.search-bar button{
    background-color: #fff;
    border: 0;
    padding: 4px 8px;
    border-radius: 0 12px 12px 0;
    font-size: 16px;
}

.search-bar button:hover{
    background-color: var(--primary-blue);
    transition: 0.2s all ease-in-out;
    color: #fff;
    cursor: pointer;
    border: 1px solid #fff;
}

.nav-options{
    display: flex;
    justify-content: space-between;
    width: 200px;

}
.nav-options a{
    font-size: 26px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

.nav-options div{
    position: relative;
    display: inline-block;
}

.nav-options span{
    position: absolute;
    font-size: 10px;
    background-color: gray;
    color: #fff;
    display: none;
    bottom: -16px;
    left: 50%;
    font-weight: 400;

    transform: translateX(-10%);

    padding: 2px 3px;
    border: 1px solid #000;
}

.nav-options div:hover span {
    display: block;
}

.cart{
    position: relative;
}

.cart-count{
    background-color: red;
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: -3px;
    right: -8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* side navbar */

.side-navbar{
    margin-top: 50px;
    width: fit-content;
    position: fixed;
    height: 93vh;
    background-color: var(--primary-blue);
    padding: 12px 14px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.categories{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

.side-navbar div a{
    color: #fff;
    text-decoration: none;
    font-size: 17px;

    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 8px;

}

.other-options{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.side-navbar a:hover{
    background-color: var(--secondary-blue);
    border-radius: 10px;
    transition: 0.1s all ease-in-out;
}


/**hero container**/

.hero-container{
    margin-left: 220px;
    padding: 100px 60px 40px;
    position: relative;
}

.hello-user h2{
    font-size: 26px;
    font-weight: 500;
}

.hello-user span{
    color: var(--primary-blue);
}

/*product */
.products{
    display: flex;
    flex-wrap: wrap;
    gap:70px 20px;
    justify-content: space-between;
}
.product-section-title,.order-section-title{
    margin-bottom: 28px;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    background-color: #fff;
    gap: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.dummy-pro{
    width: 214px;
    box-shadow: 0;

}
.product a{
    text-decoration: none;
    color: #000;
}

.product-image{
    width: 208px;
    height: 224px;
    overflow: hidden;

}

.product-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s ease;

}

.product-image img:hover{
    object-fit: cover;
    transform: scale(1.2);
}


.product-details{
    width: 100%;
}
.product-details h3{
    font-size: 20px;
    font-weight:600;
    color:var(--font-black);
    line-height: 24px;
}

.product-details h4{
    font-size: 14px;
    font-weight: 550;
    color:var(--font-green);
}


.product-details p{
    font-size: 16px;
    font-weight: 500;
}

.product-details i{
    color: var(--primary-yellow);
}


.product-details .org-price{
    font-size: 26px;
    margin: 4px 0;
    font-weight: 700;
}

.product-details .offer-price{
    color:var(--font-grey);
    font-size: 16px;
    text-decoration: line-through;
    font-weight: 450;
    margin: 0;
    padding: 0;
}

.product-details div{
    display: flex;
    gap: 18px;
    align-items: baseline;
}

.home-btn{
    text-decoration: none;
    color: var(--primary-blue);
    font-size: 18px;
    font-weight: 500;
    left: -20px;
    position: absolute;
    display: flex;
    align-items: center;
    gap: 4px;
}